---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio | Wide Company">
    <main class="main"></main>
</Layout>
<style>
    .main {
        position: relative;
        height: 100vh;
    }
</style>
