---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Todas las prendas Oversize | Wide Company">
<section>
<h1>wada</h1>
</section>

<style>
*{
    color: white;
}
</style>
</Layout>