---
---


<footer class="bg-white shadow-black dark:bg-gray-900 flex justify-center">
    <div class="w-full max-w-screen-xl p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/wide.svg" class="h-8" />
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="/home" class="hover:text-red-700 me-4 md:me-6">Inicio</a>
                </li>
                <li>
                    <a href="/shop" class="hover:text-red-700 me-4 md:me-6">Tienda</a>
                </li>
                <li>
                    <a href="/man" class="hover:text-red-700 me-4 md:me-6">Hombre</a>
                </li>
                <li>
                    <a href="/woman" class="hover:text-red-700 me-4 md:me-6">Mujer</a>
                </li>
                <li>
                    <a href="/contact" class="hover:text-red-700">Contacto</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://widecompany.com/" class="hover:underline">Wide Co</a>. All Rights Reserved.</span>
    </div>
</footer>

